* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Engagement", sans-serif;
  font-family: "Lora", sans-serif;
  color: #fff;
  font-size: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.color {
  background-color: #fedebe;
}

/*-----------------------------------------------------------Header*/
#main.active {
  opacity: 1;
  pointer-events: auto;
}

#home-box {
  background-image: url(../../assets/images/homepage/home-image.webp);
  background-color: #9d8cd9;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}

#logo {
  position: fixed;
  background: transparent;
}

#logoimage {
  width: 35%;
}

.heading-font {
  font-family: "Engagement", sans-serif;
  font-size: 70px;
  font-weight: 500;
  margin: 0;
  padding-bottom: 5px;
  padding-top: 80px;
}

h2 {
  font-family: "Lora", sans-serif;
  font-size: 30px;
  font-style: italic;
  margin-bottom: 0;
  padding-bottom: 46px;
}

p,
span,
button {
  font-family: "Lora", sans-serif;
  font-size: 16px;
}

.text-centre {
  text-align: center;
}

.text-under-heading {
  margin: 0px 15px 1px;
}

a {
  text-decoration: none;
}

.question-mark {
  color: #fedebe;
  display: flex;
  justify-content: flex-end;
  font-size: 3em;
  padding: inherit;
  text-shadow: 5px 5px 5px #000;
}

.centre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#name-input {
  background-color: #cec5ec;
  border: 1px #000 solid;
  border-radius: 50px;
  padding: 10px 15px;
}

form {
  margin-top: 25px;
}

::-webkit-input-placeholder {
  font-style: italic;
  color: #464545;
}

.start-btn {
  font-size: 115%;
  font-weight: 600;
  background-color: #fedebe;
  border: 1px #000 solid;
  border-radius: 50px;
  padding: 5px 30px;
  margin: 12px 55px;
}

.start-btn:hover {
  background-color: #fb8610;
}

/*----------------------------------------------------------------Rules*/

.rules-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../../assets/images/homepage/rules-image.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
}

.rules-box.active {
  opacity: 1;
  pointer-events: auto;
}

.rules-box .btn-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.rules-box .btn-group .info-btn {
  font-size: 115%;
  font-weight: 600;
  background-color: #fedebe;
  border: 1px #000 solid;
  border-radius: 50px;
  padding: 5px 30px;
  margin-top: 70px;
  text-decoration: none;
  color: #000;
}

.rules-box .btn-group .info-btn:nth-child(1) {
  background: transparent;
  color: #fedebe;
  border: 1px solid #fedebe;
}

.rules-box .btn-group .info-btn:nth-child(1):hover {
  background: #fedebe;
  color: #000;
}

.rules-box .btn-group .info-btn:nth-child(2):hover {
  background-color: #fb8610;
  transition: 5s;
}
/*----------------------------------------------------------------Quiz*/

.quiz-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/images/homepage/quiz-image.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #000;
  opacity: 0;
  pointer-events: none;
}

.quiz-box.active {
  opacity: 1;
  pointer-events: auto;
}

.box {
  width: 100%;
}

.right-side {
  float: right;
  padding: 8px;
}

.score-box {
  border: 1px solid #000;
  background-color: #fedebe;
  width: 35px;
  height: 15px;
  font-weight: 700;
  padding: 2px 12px;
  border-radius: 5px;
  color: #000;
}

.sound input[type="checkbox"] {
  visibility: hidden;
  cursor: pointer;
  margin: 8px;
}

.sound input[type="checkbox"]::after {
  display: block;
  content: "Off";
  position: absolute;
  visibility: visible;
  height: 25px;
  width: 35px;
  text-align: center;
  border-radius: 4px;
  background-color: #9d8cd9;
  color: #000;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid #000;
}

.sound input[type="checkbox"]:checked:after {
  content: "On";
  background-color: #fedebe;
  border: 1px solid #000;
}

.progressbar {
  padding-top: 50px;
  margin: 0 40px;
}

.count-question {
  float: left;
}

.progress {
  width: 100%;
  height: 8px;
  border: 1px solid;
}

.timer {
  margin-right: 35px;
}

.question-text {
  margin: 45px 45px 0px 45px;
  font-weight: 700;
  font-size: 23px;
}

.answers-list {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: stretch;
  margin: 25px 25px 15px 25px;
}

.answer-button {
  margin: 4px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 25px;
  font-size: 17px;
  background-color: #9d8cd9;
  font-family: "Lora", sans-serif;
}

.quiz-box .btn-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.quiz-box .btn-group .info-btn {
  font-size: 115%;
  font-weight: 600;
  background-color: #fedebe;
  border: 1px #000 solid;
  border-radius: 50px;
  padding: 5px 30px;
  margin-top: 30px;
  text-decoration: none;
  color: #000;
}

.quiz-box .btn-group .info-btn:nth-child(1) {
  background: transparent;
  color: #fedebe;
  border: 1px solid #000;
}

.quiz-box .btn-group .info-btn:nth-child(1):hover {
  background: #fedebe;
  color: #000;
}

.quiz-box .btn-group .info-btn:nth-child(2):hover {
  background-color: #fb8610;
  /*pointer-events: none;*/
  transition: 5s;
}

/*----------------------------------------------------------------Result section*/
.result-box {
  background: url(../../assets/images/homepage/result-image.webp) center
    no-repeat fixed;
}

.home-contact-box {
  margin-top: 15px;
}
/*----------------------------------------------------------------Footer*/

.link {
  color: #000;
  font-size: 115%;
  font-weight: 500;
  background-color: #fedebe;
  border: 1px #000 solid;
  border-radius: 50px;
  padding: 5px 30px;
  margin: 15px;
}

.logo-link {
  display: flex;
  justify-content: center;
}

.social-media-link {
  color: #fff;
  font-size: 25px;
  padding: 0 10px;
}

.like-btn {
  display: flex;
  flex-direction: column;
}
/*-----------------------------------------------------------Media Queries*/

@media screen and (max-width: 320px) {
  #logoimage {
    width: 50%;
  }
}

@media screen and (min-width: 321px) {
  #logoimage {
    width: 40%;
  }
}

@media screen and (max-width: 575px) {
  #logoimage {
    width: 40%;
  }
}
@media screen and (min-width: 576px) {
  #logoimage {
    width: 25%;
  }
}

@media screen and (min-width: 768px) {
  #logoimage {
    width: 20%;
  }
}

@media screen and (min-width: 992px) {
  #logoimage {
    width: 15%;
  }
}

@media screen and (min-width: 1200px) {
  #logoimage {
    width: 12%;
  }
}
